.header { 
  &_wrap {
    position: fixed;
    width: $width;
    // border:1px solid #fff;
    height: 80px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  } 
  &_logo {
    font-family: $popins-bold;
    font-size: $fs44; 
  } 
  &_left {
    display: flex;
    align-items: center;
  }
  &_right {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &_lang {
    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: $white;
      &:first-child {
        margin-right: 30px;
      }
    }
  }
}