// Custum font-size 
$fs14: 14px; 
$fs16: 16px; 
$fs18: 18px; 
$fs20: 20px; 
$fs22: 22px; 
$fs28: 28px; 
$fs33: 33px; 
$fs36: 36px; 
$fs44: 44px; 
$fs74: 74px; 
$fs116: 116px; 
$fs148: 148px; 

// Custom color
$black: #000;

// Custom layout
$h-width: 1700px;
$m-width: 1200px;
$f-width: 1700px;