.maq {
  &_wrap{
    display: flex;
    gap: 70px;
    justify-content: space-around;
    margin-bottom: 100px;
    p {
      img { 
        width: auto;
        height: 48px;
      }
      &:nth-of-type(4) {
        img { 
          width: 190px;
        }
      }
    }
  }

}