.notice {
  &_wrap {
    padding: 0 20px;
    p {
      margin-top: 20px;
      font-size: $fs22;
    }
  }
  &_table {    
    margin: 100px auto 20px auto;
    width: 100%; 
    th {
      padding: 20px 0;
      border: 1px solid $darkgray;
    }
    tr {
      font-size: $fs16;
      td {  
        padding: 20px;
        color: $lightgray;
        &:nth-child(1) {
          text-align: center;
        }
        &:nth-child(3) {
          text-align: center;
        }
      }
    }
  }
}