.winner {
  &_wrap {
    margin: 100px 20px;
  }
  &_box {
    margin: 100px 0;
    &:last-child {
      margin: 400px 0 200px 0;
      .winner_box_img {
        img {
          &:last-of-type {
          position: absolute;
          width: 685px;
          bottom: -245px;
          left: 38%;
          }
        }
      }
    }
    &_t {  
      h3 {  
        font-size: $fs60;
        font-weight: $fw100;
      }
      p { 
        &:nth-of-type(1) {
          font-size: $fs60; 
          font-weight: $fw100;
        }
        &:nth-of-type(2) {
          font-weight: $fw100;
          margin: 64px 0 0px 0;
          font-size: 28px;
          border: 1px solid #c5c5c5;
          padding: 15px 0px;
          text-align: center;
          box-sizing: border-box; 
        }
      }  
    } 
    &_img {  
      position: relative; 
      justify-content: space-between;
      display: flex;
      gap: 10px; 
      img {
        width: 870px; 
        &:last-of-type {
          position: absolute;
          width: 515px;
          bottom: -120px;
          left: 30%;
        }
      } 
    }
  }
} 