.winner {
  &_wrap {
    margin: 100px 20px;
  }
  &_box {
    div { 
      &:nth-child(2) {
        .winner_box_img {
          &:hover {
            &::after {
              position: absolute;
              content: '';
              background: linear-gradient(to top, #04002b 2%, #6f9bff 60%, #005aff);
            }
          }
        }
      }
    }
    display: flex;
    justify-content: space-between;
    &_t {
      margin-top: 20px;
      p {
        &:nth-of-type(1) {
          font-size: $fs33;
        }
        &:nth-of-type(2) {
          margin-top: 10px;
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
          font-size: $fs22;
        }
      }
    } 
    &_img { 
      position: relative;
      overflow: hidden;
      width: 840px;
      height: 800px;
      &:hover {
       &::after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        background: linear-gradient( to top, #ff009d 2%, #ff6363 60%, #000 );
        opacity: 0.3;
       }
      } 
      img {  
        width: 840px;
      }
    }
  }
}