.title {
  &_wrap{
    margin-top: 120px;
    padding: 0 20px;
    h2 {
      line-height: $lineH;
      font-family: $popins-bold;
      font-size: $fs116;
      background: linear-gradient(to left, #e73d00 71%, #fd9c6f 81%, #e96b35 94%);
      background-clip: text; 
      -webkit-background-clip: text; 
      color: transparent; 
      span{
        display: block; 
      }
    }
  }
}