
.l { 
    &-header {
        width: $h-width;
        margin: 0 auto;
    }

    &-content {
        width: $m-width;
        height: 4800px;
        padding-top: 80px;
        margin: 0 auto;
    }

    &-footer {
        width: $f-width;
        margin: 0 auto;
    }
}