
.l { 
    &-header {
        padding: 0 20px; 
    }

    &-content {
        display: flex;
        flex-direction: column;
        width: $width; 
        margin: 0 auto;
        padding: 80px 0 20px 0;
    }

    &-footer {
        border-top: 1px solid $darkgray;
        // width: $width;
        // margin: 0 auto;
        // padding: 0 20px;
    }
}

// flex

.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}

// text

// .left { text-align: left; }
// .right { text-align: right; }
// .center { text-align: center; } 