*{ margin:0; padding:0; } 
body, html { font-family: $noto-regular; font-size: $fs14; color: $white; background-color: $black; } 
h1,h2,h3,h4,h5,h6,a,span,p { color: $white; }
a { text-decoration: none; }
ul, li { list-style-type: none; } 